
  <div class="page-header">
    <h3>Profile Page</h3>
    </div>
    <div class="profilePage">
    <h4>Profile details</h4>
    <form class="formProfilePages" role="form" onsubmit="return validateForm()" name="profile_form" 
      action="/profile_page" method="POST">
{{#each items}}
      <div class="form-group">
        <label for="fieldName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="fieldName" value={{this.name}} name="name">
        </div>
      </div> <!-- End of form-group -->

      <div class="form-group">
        <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-4">
          <input type="email" class="form-control" id="fieldEmail" name="email" value={{this.email}} placeholder="abc@xyz.edu" readonly>
        </div>
      </div> <!-- End of form-group -->

      <div class="form-group">
        <label for="fieldPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-4">
          <input type="password" class="form-control" id="fieldPassword" name="password" value={{this.password}}>
        </div>
      </div> <!-- End of form-group -->

      <div class="form-group">
        <label for="fieldEmail" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" data-country="US" id="fieldPhone" name="phone" placeholder="XXX-XXX-XXXX" pattern="^\d{3}-\d{3}-\d{4}$" value={{this.phone}}>
        </div>
      </div> <!-- End of form-group -->

      <div class="form-group">
        <label for="fieldUniversity" class="col-sm-2 control-label">University</label>
        <div class="col-sm-4">
          <select class="form-control" id="fieldUniversity" name="university">
            <option></option>
            <option value="North Carolina State University">North Carolina State University</option>
            <option value="University of North Carolina at Chapel Hill">University of North Carolina at Chapel Hill</option>
            <option value="Duke University">Duke University</option>
            <option value="Wake Forst University">Wake Forst University</option>
            <option value="East Carolina University">East Carolina University</option>
          </select>
        </div>
      </div> <!-- End of form-group -->

      <div class="form-group">
        <label for="fieldGender" class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-4">
          <div class="radio">
            <label><input type="radio" name="optradio" value="Male">Male</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio" value="Female">Female</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio" value="Prefer not to answer">Prefer not to answer</label>
          </div>
        </div>
      </div> <!-- End of form-group -->

      <div class="form-group">
        <label for="fieldAddress" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-4">
          <textarea class="form-control" rows="5" id="fieldAddress" name="address">{{this.address}}</textarea>
        </div>
      </div> <!-- End of form-group -->

      <div class="form-group">
        <div class="col-sm-4">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div> <!-- End of form-group -->
{{/each}}
    </form>
    <script>
      function validateForm() {
        var x = document.forms["profile_form"]["name"].value;
        if (x == "") {
            alert("Name must be filled out");
            return false;
        }
        x = document.forms["profile_form"]["password"].value;
        if (x == "") {
            alert("Password must be filled out");
            return false;
        }
        x = document.forms["profile_form"]["email"].value;
        if (x == "") {
            alert("Email must be filled out");
            return false;
        }
        x = document.forms["profile_form"]["university"].value;
        if (x == "") {
            alert("Please select university");
            return false;
        }
        x = document.forms["profile_form"]["gender"].value;
        if (x == "") {
            alert("Please select gender");
            return false;
        }
        x = document.forms["profile_form"]["phone"].value;
        if (x == "") {
            alert("Please enter phone number");
            return false;
        }
    }
    </script>
    </div> <!-- End of profilePage -->